ci:
  autoupdate_commit_msg: "chore: [pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude:  ^src/skhep_testdata/data/.*\.lhe(\.gz)?$
  - id: mixed-line-ending
    exclude:  ^src/skhep_testdata/data/.*\.lhe(\.gz)?$
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude:  ^src/skhep_testdata/data/.*\.lhe(\.gz)?$

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    files: src
    args: [--show-error-codes]
    additional_dependencies:
    - types-PyYAML
    - types-requests

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.14.14"
  hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]
